:root {
  --maincolor: #f29ca4;
  --textColot: white;
}

body {
  direction: rtl;
}

.navbar {
  background: var(--maincolor) !important;
  color: var(--textColot) !important;
}

ul li a {
  color: var(--textColot) !important;
}
